* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url('https://st2.depositphotos.com/8047136/11779/v/600/depositphotos_117792506-stock-illustration-game-balls-seamless-pattern.jpg');
}

h1 {
    color: #000;
    font-size: 2.5rem;
    text-align: center;
    padding: 7px;
    background-color: rgb(231 161 78 / 92%);
    border-radius: 3rem;
    margin: 0rem 1rem;
}  

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem 1.5rem;
    
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}